header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a{
    text-decoration: none;
    color: #F6F6F6;
    border-bottom: 2px solid transparent;
    transition: .4s;
}
header a:hover{
    border-color: #F6F6F6;
}
/* header::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #272727a8;
    position: absolute;
    top: 50px;
} */
.navbar a{
    margin-left:50px;
}
.links-redes-sociais{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.links-redes-sociais a {
    text-decoration: none;
    color: #fff;
}
.img-contact{
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
