#intro{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.fotografia{
    grid-column: 1/2;
    width: 250px;
    height: 250px;
    border-radius: 250px;
    object-fit: cover;
    box-shadow: 1px 4px 9px #141414;
}
.tittle{
    grid-column: 2/3;
    margin: 0px;
    padding: 0px;
    text-shadow: 3px 5px 7px #202020;
    font-weight: 500;
    font-size: 3rem;
    color: #fff;
}
.tittle::before{
    content: "";
    position: absolute;
    top: 240px;
    left: 590px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: linear-gradient(#3FC83C, #0A6C08);
    z-index: -1;
}
.tittle::after{
    content: "";
    position: absolute;
    top: 370px;
    right: 285px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: linear-gradient(#3FC83C, #0A6C08);
    z-index: -1;
}
.description{
    grid-column: 2/3;
    color: #cecece;
    line-height: 1.4rem;
}
.enfase{
    font-weight: 600;
    color: #fff;
}
.localization{
    margin-top: 30px;
    grid-column: 2/3;
    color: #8c8c8c;
}
.localization img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
#intro::after{
    content: "";
    background-color: #0a6c0883;
    width: 80px;
   height: 5px;
    position: absolute;
    top: 650px;
    left: 50px; 
}