#projects{
    margin-top: 100px ;
    display: grid;
    grid-template-columns: 200px  1fr;
    column-gap: 350px;
    align-content: flex-start;
 }
.palavra-detalhe{
    grid-column: 1/2;
    margin: 0px;
    padding: 0px;
    font-family: bebas neue;
    word-wrap: break-word;
    font-size: 10rem;
    line-height: 9rem;
    color: #3C3C3C;
}

/* project-mixburguer */

.card-project-mix{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 250px 300px;
    gap: 20px;
}
.etiqueta-mix{
    width: 25px;
    position: absolute;
    top: 735px;
    left: 575px;
    z-index: -1;
}
.img-project-mix{
    grid-column: 1/2;
    width: 220px;
    height: 220px;
    background-color: #FF7F27;
    border-radius: 5px;
    box-shadow: 2px 5px 9px #141414;
    transition: .4s;
}
.img-project-mix:hover{
    opacity: 0.3;
}
.text-projects-mix{
 
    color: #cecece ;
    line-height: 1.4rem;
}
.technology{
    display: flex;
}
.box{
    height: auto;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: #3C3C3C;
    color: #fff;
}
.links-projects{
    margin-top: 20px;
    font-size: .9rem;
}
.site-completo{
    color:#6495ED;
    margin-right: 20px;
}
.site-completo:hover{
    color: #274d93;
}
.repositorio{
    margin-top: 10px;
    color: #fff;
}
.repositorio:hover{
    color: #8c8c8c;
}

/* project-onebitflix */

.card-project-obc{
    grid-column: 1/2;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 250px 300px;
    gap: 20px;
}
.etiqueta-obc{
    width: 25px;
    position: absolute;
    top: 1075px;
    left: 575px;
    z-index: -1;

}
.img-project-obc{
    width: 220px;
    height: 220px;
    background-color: #141414;
    border-radius: 5px;
    box-shadow: 1px 5px 7px #141414;
    transition: .4s;
}
.img-project-obc:hover{
    opacity: 0.3;
}
.text-projects-obc{
    color: #cecece ;
    line-height: 1.4rem;
}
.link-portifolio{
    margin-top: 50px;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
}
.ver-portifolio{
    color: #6495ED;
    font-size: 1.3rem;
    letter-spacing: 10%;
    transition: .4s;
}
.ver-portifolio:hover{
    color: #274d93;
}

#projects::after{
    content: "";
    background-color: #0a6c0883;
    width: 80px;
   height: 5px;
    position: absolute;
    top: 1500px;
    left: 50px; 
}